#ignore binary object files
*.o

#don't care about shared libraries
*.so
*.so.*

#ignore mocs
moc_*.*

#ignore entire build directory
/build/

#ignore qtcreator settings
*.pro.user

#ignore tex logs
*.aux *.toc /docs/konfiguracja.log

#temp files
*~
