<!DOCTYPE TelemetronConfig>

<telemetron>
  <logger response="sendOk"
          command="sendLogs" />
         <!-- Pachube Login: zpptelemetron Password: poiuy -->
  <cloud type="cosm" 
         sendFeed="61152" 
         receiveFeed="61153" 
         apikey="my9wCHAREdxKgu_SGis213_ivhuSAKxzdmxzN3p0RVNSQT0g"
         request="10"
         timezone="-2" />

<!--
  <device type="sng" name="alpha">
    <mappings address="localhost"
              port="8888"
              physicalAddress="4.5.6"
              __0.0.0__0.0.0__OnOff="wlacznik"
              __0.0.0__0.0.0__Temp="temperatura"
              __0.0.0__0.0.0__Value="wartosc"
               />
  </device>-->

  <device type="modbus" name="beta">
    <mappings port="/dev/ttyS0"
              parity="Even"
              bandwidth="9600"
	      readFromSecond="\x02\x03"
              />
  </device>
  
  <!--
  <device type="mock" name="beta">
    <mappings tempdev="tempcloud" />
  </device> -->
</telemetron>
