<!DOCTYPE TelemetronConfig>

<telemetron>
  <cloud type="mock" 
         feedno="42213" 
         apikey="7p1iGBicjYRQS20cEDjFdr3SnTldEyq-kL2XabP6iXw" />

  <device type="sng" name="alpha">
    <mappings address="localhost"
              port="8888"
              physicalAddress="4.5.6"
              __0.0.0__0.0.0__OnOff="wlacznik"
              __0.0.0__0.0.0__Temp="temperatura"
              __0.0.0__0.0.0__Value="wartosc"
               />
  </device>
</telemetron>
